.footer {
  background-color:#5c4033;
  color: #fffaf5;
  padding: 2rem 1rem;
  text-align: center;
  margin-top:0px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer p {
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff4e6;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #deb887;
}
